* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    background-color: #fff;
    color: #000;
  }
  
  /* Navbar */
  nav {
    display: flex;
    justify-content: space-between; /* kiri dan kanan */
    align-items: center;
    padding: 20px 50px;
    background: white;
  }
  
  .left-nav {
    display: flex;
    align-items: center;
    gap: 140px; /* jarak antara logo dan menu */
  }
  
  nav .cart img {
    height: 27px; /* ubah sesuai ukuran yang kamu mau */
    width: auto;
    cursor: pointer; /* biar keliatan bisa diklik */
  }
  .search {
    margin-right: 15px;
  }
  
  nav .logo img {
    height: 25px;
    width: auto;
  }
  
  @media (min-width: 993px) {
    nav .nav-links {
      display: flex;
      gap: 40px; /* jarak antar link */
    }
  }
  
  nav .nav-links a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
  }
  
  nav .cart {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
  }
  
  /* Search Overlay */
  .search-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 10;
  }
  
  /* Saat aktif (muncul) */
  .search-overlay.active {
    opacity: 1;
    visibility: visible;
  }
  
  /* Box input search */
  .search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 30px;
    width: 50%;
    max-width: 500px;
  }
  
  /* Input text */
  .search-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
  /* Tombol close */
  .close-search {
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }
  
  /* Gambar ikon search di dalam box */
  .search-box img.search-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  /* Hamburger Icon */
  .menu-toggle {
    display: none;
    font-size: 28px;
    color: black;
    cursor: pointer;
  }
  
  /* Hero Section  */
  .hero {
    position: relative; /* penting supaya absolute bisa ngikut parent */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background: #111;
    color: #fff;
    padding-left: 60px;
    overflow: hidden;
  }
  
  .hero-text {
    position: relative;
    z-index: 0; /* teks tetap di atas background */
  }
  
  .hero-text h5 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
    opacity: 0.8;
  }
  
  .hero-text h1 {
    font-size: 128px; /* perbesar sesuai desain */
    font-weight: 200;
    text-transform: uppercase; /* jadi kapital semua */
    letter-spacing: 20px; /* jarak antar huruf */
    color: #fff;
    margin: 0;
  }
  .hero-text h1 span {
    font-size: 128px; /* perbesar sesuai desain */
    font-weight: 700;
    text-transform: uppercase; /* jadi kapital semua */
    letter-spacing: 20px; /* jarak antar huruf */
    color: #fff;
    margin: 0;
  }
  .hero-text h1 sub {
    font-size: 48px;
  }
  
  .hero-text p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;
    color: #ccc;
  }
  
  .hero-text .shop-btn {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 14px 40px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    border: none;
    cursor: pointer;
  }
  .shop-btn:hover {
    background-color: #e5e5e5;
  }
  
  .hero-text button:hover {
    background: #ddd;
  }
  
  /* Hero Image */
  .hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* biar pas di tengah */
    z-index: 1; /* gambar di bawah text */
    opacity: 0.9; /* biar lebih blend, bisa disesuaikan */
  }
  
  .hero-image img {
    max-width: 550px; /* ukuran gambar */
    height: auto;
  }
  
  /*Bottom Decoration Image */
  .hero-bottom-image {
    width: 100%;
    position: relative;
    margin-top: -1px; /* biar nempel tanpa jarak */
  }
  
  .hero-bottom-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* CATEGORIES PRODUK */
  .categories {
    text-align: center;
    padding: 60px 0px 5px 0px;
    /* top | right | bottom | left */
  }
  
  .categories h2 {
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 600;
  }
  
  .category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  
  .category-item {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    width: 150px;
    /* transition: all 0.3s ease; */
    cursor: pointer;
  }
  
  .category-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .category-item p {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  
  /* NEW ARRIVALS PRODUK */
  .new-arrivals {
    background-color: #fff;
    margin-top: 80px;
  }
  
  /* Hero (atasnya) */
  .new-arrivals-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 80px 50px;
    background-image: url("bg.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
  }
  
  .new-arrivals-hero .text {
    margin-left: 60px;
  }
  .new-arrivals-hero .text h5 {
    font-size: 21px;
    letter-spacing: 2px;
    color: #ccc;
    font-weight: 200;
  }
  
  .new-arrivals-hero .text h1 {
    font-size: 100px;
    font-weight: 600;
    margin: 20px 0;
    line-height: 1;
    letter-spacing: 10px; /* jarak antar huruf */
  }
  
  .new-arrivals-hero button {
    padding: 13px 40px;
    border: none;
    background: white;
    color: black;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .new-arrivals-hero .image img {
    max-width: 100%; /* supaya lebar gambar tidak melebihi parent-nya */
    height: auto; /* biar tinggi menyesuaikan proporsi aslinya */
    display: block; /* hilangkan jarak kosong di bawah gambar */
    margin: 0 auto; /* kalau mau gambar di tengah */
  }
  
  /* Produk List */
  .product-list {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 40px 50px;
    background: #fff;
    scroll-behavior: smooth;
  }
  
  .product-list::-webkit-scrollbar {
    height: 6px;
  }
  .product-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    min-width: 180px;
    text-align: left;
    position: relative;
    background: white;
    /* flex: 0 0 auto; */
    transition: transform 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-card h4 {
    font-size: 14px;
    color: #222;
    margin: 5px 0;
  }
  
  .product-card p {
    font-size: 13px;
    color: #444;
  }
  
  .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #000;
    color: white;
    padding: 2px 8px;
    font-size: 11px;
    border-radius: 3px;
    font-weight: bold;
  }
  
  /* ABOUT SECTION */
  .about-section {
    font-family: "Poppins", sans-serif;
    background-color: #2b2b2b;
  }
  
  .abouts {
    color: #bfbfbf;
    line-height: 1.6;
    padding: 60px 20px;
    max-width: 1240px;
    margin: 0 auto;
    text-align: center;
  }
  
  .about-section img {
    padding-bottom: 10px;
  }
  .abouts img {
    max-width: 100%; /* supaya lebar gambar tidak melebihi parent-nya */
    height: auto; /* biar tinggi menyesuaikan proporsi aslinya */
    display: block; /* hilangkan jarak kosong di bawah gambar */
    margin: 0 auto; /* kalau mau gambar di tengah */
  }
  
  .about-section h1 span {
    font-weight: bold;
    color: white;
  }
  
  .about-section p {
    font-size: 16px;
    text-align: justify;
    color: #bfbfbf;
    margin-bottom: 15px;
  }
  
  /* FOOTER SECTION */
  footer {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #111;
  }
  .footersection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 100px;
    background-color: #fff;
    color: #000;
    border-top: 1px solid #eee;
  }
  
  .footer-column {
    flex: 1;
    min-width: 180px;
    margin: 15px;
  }
  
  .footer-column h4 {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin: 15px 0;
    font-size: 14px;
    cursor: pointer;
  }
  
  .footer-column ul li:hover {
    color: #666;
  }
  
  .payment img {
    width: 50px;
    margin-top: 10px;
  }
  
  .brand {
    text-align: left;
  }
  
  .social {
    margin-top: 30px;
  }
  
  .social h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
  }
  
  .social-icons a img {
    width: 17px;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
  }
  
  .social-icons a img:hover {
    transform: scale(1.2);
    opacity: 0.8;
  }
  
  .brand .contact,
  .brand .store {
    font-size: 14px;
    margin-top: 35px;
    line-height: 1.6;
  }
  
  .brand .store strong {
    display: block;
    margin-bottom: 3px;
  }
  
  #scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #222;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    display: none;
    transition: all 0.3s ease;
  }
  
  #scrollTopBtn:hover {
    background-color: #555;
    transform: scale(1.1);
  }
  .cart2-mobile {
    display: none;
  }
  
  /* =============== Responsive =============== */
  
  @media (max-width: 1024px) {
    .new-arrivals-hero .image img {
      max-width: 135%; /* supaya lebar gambar tidak melebihi parent-nya */
      height: auto; /* biar tinggi menyesuaikan proporsi aslinya */
      display: block; /* hilangkan jarak kosong di bawah gambar */
      margin: 0 auto; /* kalau mau gambar di tengah */
    }
  }
  
  @media (max-width: 992px) {
    /* NAVBAR */
    nav {
      padding: 15px 30px;
    }
  
    .left-nav {
      gap: 40px;
    }
  
    .nav-links {
      display: none; /* ⬅️ wajib! menu disembunyikan dulu */
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      background: white;
      width: 100%;
      text-align: center;
      padding: 20px 0;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      z-index: 10;
    }
  
    .nav .nav-links {
      display: none;
    }
  
    .cart2 {
      display: none; /* sembunyikan icon di kanan atas */
    }
  
    .cart2-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 18px;
      margin-top: 20px;
    }
  
    .cart2-mobile img {
      width: 25px;
      height: 25px;
      cursor: pointer;
      transition: transform 0.2s ease;
    }
  
    .cart2-mobile img:hover {
      transform: scale(1.1);
    }
  
    .nav-links a {
      padding: 12px 0;
      font-size: 1.1rem;
    }
  
    .menu-toggle {
      display: block;
      cursor: pointer;
      font-size: 26px;
      user-select: none;
    }
  
    /* Saat aktif (ketika diklik) */
    .nav-links.active {
      display: flex;
    }
  
    /* END NAVBAR */
  
    /* HERO IMAGE */
    .hero {
      display: flex;
      flex-direction: row;
      align-items: flex-start; /* teks di atas */
      justify-content: space-between;
      background-color: #000;
      padding: 70px 35px;
      gap: 10px;
      min-height: 55vh;
    }
  
    .hero-text {
      flex: 1;
      max-width: 55%;
      text-align: left;
      margin-top: 20px; /* dorong teks sedikit ke atas */
      margin-left: 15px;
    }
  
    .hero-text h5 {
      font-size: 14px;
      color: #cfcfcf;
      margin-bottom: 5px;
    }
  
    .hero-text h1 {
      font-size: 60px;
      letter-spacing: 4px;
    }
  
    .hero-text h1 span {
      font-size: 60px;
      letter-spacing: 4px;
    }
  
    .hero-text h1 sub {
      font-size: 16px;
    }
  
    .hero-text p {
      font-size: 14px;
      line-height: 1.5;
      color: #d1d1d1;
      margin-bottom: 18px;
    }
  
    .hero-text .shop-btn {
      font-size: 12px;
      padding: 10px 22px;
      background-color: #fff;
      color: #000;
      border: none;
    }
  
    .hero-image {
      flex: 1;
      display: flex;
      justify-content: flex-end; /* geser gambar ke kanan */
      margin-top: 10px;
    }
  
    .hero-image img {
      width: 100%;
      max-width: 300px; /* sedikit lebih besar */
      height: auto;
      position: static;
      transform: translateX(270px); /* geser sedikit ke kanan */
    }
  
    /* END HERO IMAGE */
  
    /* CATEGORY PRODUK */
    .category-container {
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: flex-start;
      scroll-behavior: smooth;
      padding: 10px;
    }
  
    .category-container::-webkit-scrollbar {
      height: 6px;
    }
  
    .category-container::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 10px;
    }
  
    .category-item {
      min-width: 140px;
    }
    /* END CATEGORY PRODUK */
  
    /* NEW ARRIVAL */
    .new-arrivals-hero .text h5 {
      font-size: 18px;
      letter-spacing: 1px;
    }
  
    .new-arrivals-hero .text h1 {
      font-size: 70px;
      line-height: 1.1;
      letter-spacing: 5px;
    }
  
    .new-arrivals-hero button {
      font-size: 15px;
      padding: 10px 28px;
      margin-top: 15px;
    }
    /* END NEW ARRIVAL */
  
    /* ABOUT SECTION */
    .about-section {
      padding: 40px 15px;
    }
    .about-section h1 {
      font-size: 22px;
    }
    .about-section p {
      font-size: 12px;
    }
    /* END ABOUT SECTION */
  
    /* FOOTER SECTION */
    footer {
      flex-direction: column;
      text-align: left;
      padding: 40px 30px;
    }
  
    .footer-column {
      margin-bottom: 25px;
    }
  
    .footersection {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 10px 5px;
      background-color: #fff;
      color: #000;
      border-top: 1px solid #eee;
    }
  
    /* END FOOTER SECTION */
  }
  
  @media (max-width: 576px) {
    html,
    body {
      overflow-x: hidden;
    }
  
    /* NAVBAR */
    .nav-links {
      display: none; /* bisa diganti hamburger menu nanti */
    }
  
    nav {
      padding: 10px 20px;
    }
  
    nav .logo img {
      height: 21px;
      width: auto;
    }
  
    /* HERO IMAGE */
  
    .hero {
      display: flex;
      flex-direction: row;
      align-items: flex-start; /* teks di atas */
      justify-content: space-between;
      background-color: #000;
      padding: 20px 25px;
      gap: 10px;
      min-height: auto;
    }
  
    .hero-text {
      flex: 1;
      max-width: 55%;
      text-align: left;
      margin-top: 20px; /* dorong teks sedikit ke atas */
      margin-left: 15px;
    }
  
    .hero-text h5 {
      font-size: 14px;
      color: #cfcfcf;
      margin-bottom: 5px;
    }
  
    .hero-text h1 {
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 10px;
      color: #fff;
    }
  
    .hero-text h1 span {
      font-size: 24px;
    }
  
    .hero-text h1 sub {
      font-size: 16px;
    }
  
    .hero-text p {
      font-size: 14px;
      line-height: 1.5;
      color: #d1d1d1;
      margin-bottom: 18px;
    }
  
    .hero-text .shop-btn {
      font-size: 12px;
      padding: 10px 22px;
      background-color: #fff;
      color: #000;
      border: none;
    }
  
    .hero-image {
      flex: 1;
      display: flex;
      justify-content: flex-end; /* geser gambar ke kanan */
      margin-top: 10px;
    }
  
    .hero-image img {
      width: 100%;
      max-width: 230px; /* sedikit lebih besar */
      height: auto;
      position: static;
      transform: translateX(130px); /* geser sedikit ke kanan */
    }
  
    /* IMAGE DECORATION */
    .hero-bottom-image {
      width: 150%;
      position: relative;
      margin-top: -1px; /* biar nempel tanpa jarak */
    }
  
    .hero-bottom-image img {
      width: 100%;
      height: auto;
      display: block;
    }
  
    /* /////// */
    .cart img {
      height: 24px;
    }
  
    .menu-toggle {
      font-size: 26px;
    }
  
    /* CATEGORIES */
    .categories {
      padding: 30px 0px 5px 0px;
    }
  
    .categories h2 {
      font-size: 18px;
      margin-bottom: 25px;
      font-weight: 600;
    }
  
    .category-container {
      gap: 30px;
    }
  
    .category-item {
      min-width: 125px;
    }
  
    /* NEW ARRIVAL */
    .new-arrivals {
      margin-top: 40px;
    }
  
    .new-arrivals-hero {
      flex-direction: column-reverse; /* gambar di bawah teks */
      align-items: center;
      text-align: center;
      padding: 50px 20px;
      gap: 30px;
      background-position: top center;
      background-size: cover;
    }
  
    .new-arrivals-hero .text {
      margin: 0;
    }
  
    .new-arrivals-hero .text h5 {
      font-size: 14px;
      letter-spacing: 1px;
    }
  
    .new-arrivals-hero .text h1 {
      font-size: 45px;
      line-height: 1.1;
      letter-spacing: 5px;
    }
  
    .new-arrivals-hero button {
      font-size: 13px;
      padding: 10px 28px;
      margin-top: 15px;
    }
  
    /* .new-arrivals-hero .image img {
      width: 290px;
      height: auto;
      max-width: 100%;
    } */
  
    /* Product list mobile grid */
    .product-card {
      border: 1px solid #ddd;
      border-radius: 6px;
      padding: 15px;
      min-width: 160px;
      text-align: left;
      position: relative;
      background: white;
      /* flex: 0 0 auto; */
      transition: transform 0.3s ease;
    }
  
    .product-card h4 {
      font-size: 12px;
    }
  
    .product-card p {
      font-size: 12px;
    }
  
    /* ABOUT SECTION */
  
    /* FOOTER */
  }